In [203]:
import numpy as np   
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier  
from sklearn import preprocessing
from sklearn.metrics import accuracy_score
import matplotlib.pyplot as plt 
import pandas as pd

In [204]:
# use ";" to separate
data_list = pd.read_csv("C:/Users/user/Desktop/bank-additional/bank-additional-full.csv",sep=";")
data_list.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no

In [205]:
print("Dataset Lenght: ", len(data_list))
print("Dataset Shape: ", data_list.shape)

Dataset Lenght:  41188
Dataset Shape:  (41188, 21)

In [206]:
X_ori = data_list.values[:, :-1]
Y = data_list.values[:,-1]
X = np.zeros(X_ori.shape)

# do some encoding before using fit
# fit() does not accept Strings 
# LabelEncoder : turn your string into incremental value
le = preprocessing.LabelEncoder()
for i in range(data_list.shape[1]-1):
    X[:,i] = le.fit_transform(X_ori[:,i])

x_train, x_test, y_train, y_test = train_test_split( X, Y, test_size = 0.3)

In [207]:
clf_gini = DecisionTreeClassifier(criterion = "gini", max_features="auto",
                                  random_state = 100,max_depth=5,)
clf_gini.fit(x_train, y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=5,
            max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=100,
            splitter='best')

In [208]:
clf_entropy = DecisionTreeClassifier(criterion = "entropy", max_features="auto",
                                  random_state = 100,max_depth=5,)
clf_entropy.fit(x_train, y_train)

DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=5,
            max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=100,
            splitter='best')

In [209]:
y_pred = clf_gini.predict(x_test)
y_pred_en = clf_entropy.predict(x_test)

In [210]:
print("The full score is 100")
print("The prediction accuracy score with criterion gini index is ", accuracy_score(y_test,y_pred)*100)
print("The prediction accuracy score with criterion information gain is ", accuracy_score(y_test,y_pred_en)*100)

The full score is 100
The prediction accuracy score with criterion gini index is  90.6287933965
The prediction accuracy score with criterion information gain is  90.8877559278

In [211]:
from sklearn.tree import export_graphviz

In [212]:
# Open the .dot file in a text editor
# Copy the piece of code and paste it @ webgraphviz.com
export_graphviz(clf_gini, "D:/test/gg")